html {
   scroll-behavior: smooth;
}
body {
   font-family: "Manrope", sans-serif;
   max-width: 100vw;
   overflow-x: hidden;
   /* background-color: #494947; */
   background-color: #fff;
   /* background: linear-gradient(to bottom, #494947 30%, #fff 30%); */
}
.container {
   width: 90%;
   margin: 0 auto;
   max-width: 1566px;
}

/* menu */
#menu {
   background-color: transparent;
   padding: 2% 0;
   position: relative;
   z-index: 1000;
}
.menu {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.logo img {
   width: 93px;
}
.menu-toggle {
   background-color: transparent;
   border: none;
   color: #fffcff;
   font-size: 18px;
   font-weight: 400;
   cursor: pointer;
   display: flex;
   align-items: center;
   gap: 10px;
   padding: 0;
   font-family: "Manrope", sans-serif;
}
.menu-toggle img {
   width: 16px;
   aspect-ratio: 1;
}
.nav {
   position: absolute;
   top: 0;
   right: 0;
   background-color: #494947;
   display: flex;
   flex-direction: column;
   transform: translateY(-100%);
   transition: transform 0.3s ease, opacity 0.3s ease;
   opacity: 0;
   pointer-events: none;
   width: 100vw;
}
.nav.open {
   transform: translateY(0);
   opacity: 1;
   pointer-events: auto;
   display: flex;
   justify-content: center;
   border-radius: 0 0 30px 30px;
}
.nav.closed {
   transform: translateY(-100%);
   opacity: 0;
   pointer-events: none;
}
.navigation a {
   color: #fffcff;
   text-decoration: none;
   font-size: 18px;
   font-weight: 400;
   line-height: 24.59px;
   transition: color 0.3s;
}
nav .container {
   position: relative;
}
.navigation a:hover {
   color: #f4a261;
}
.nav .logo {
   top: 0;
   margin: auto;
   display: flex;
   padding: 3% 0;
   border-bottom: 1px solid #a0a0a04d;
   width: 100%;
   text-align: center;
   cursor: pointer;
}
.nav .logo img {
   display: flex;
   margin: auto;
}
.nav .menu-toggle {
   right: 5%;
   top: 22%;
   width: fit-content;
   display: flex;
   margin-left: auto;
   position: absolute;
}
.nav .navigation {
   width: 31%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin: 4% auto 3.25%;
}
.nav .contacts,
.nav p {
   display: none;
}
@media screen and (max-width: 768px) {
   .menu {
      padding: 7% 0;
   }
   .menu .nav {
      height: 100vh;
   }
   .nav .logo {
      position: absolute;
      top: 2%;
      margin-right: auto;
      width: fit-content;
      border: none;
   }
   .menu .logo img {
      width: 60px;
   }
   .menu .menu-toggle {
      gap: 7px;
      font-size: 16px;
      right: 2%;
      top: 24%;
   }
   .menu .nav .menu-toggle {
      position: absolute;
      margin-left: auto;
      top: 4%;
      margin-right: 3%;
   }
   .menu .menu-toggle img {
      width: 14px;
   }
   .nav.open {
      justify-content: flex-start;
      border-radius: 0;
   }
   .nav .navigation {
      display: flex;
      flex-direction: column;
      height: 80%;
      justify-content: space-between;
      margin: 30% 0 0;
   }
   .nav .navigation a {
      font-size: 18px;
   }
   .nav .contacts {
      display: flex;
      position: absolute;
      bottom: 15%;
      flex-direction: column;
   }
   .nav .contacts a {
      text-decoration: none;
      color: #fffcff;
      font-size: 18px;
      line-height: 30px;
   }
   .nav p {
      position: absolute;
      bottom: 5%;
      color: #fffcff;
      font-size: 16px;
      display: flex;
   }
}

/* video */
#video {
   width: 100%;
   height: 100%;
}
.video {
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
}
.video img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   z-index: 1;
}
#video .filter {
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: #00000030;
   z-index: 3;
   top: 0;
}
.video h1 {
   font-size: 36px;
   font-weight: 400;
   line-height: 44px;
   color: #fffcff;
   z-index: 2;
   position: absolute;
   width: 55%;
   bottom: 8%;
   left: 5%;
}
@media screen and (max-width: 768px) {
   .video h1 {
      font-size: 22px;
      line-height: 30px;
      width: 90%;
      margin: auto;
   }
}

/* about */
#about {
   background-color: #fffcff;
   padding: 3% 0;
   margin-top: 80vh;
   border-radius: 30px 30px 0 0;
   z-index: 1005;
   position: absolute;
   border-bottom: 1px solid #a0a0a030;
   width: 100vw;
}
#title {
   font-size: 36px;
   font-weight: 400;
   line-height: 44px;
   color: #494947;
   width: 80%;
   margin: 0;
   background-color: transparent;
}
#title span {
   color: #fffcff;
   padding-bottom: 2%;
   line-height: 22px;
   border-bottom: 1px solid #fffcff;
}
@media screen and (max-width: 768px) {
   #about {
      padding: 3% 0 10%;
      margin-top: 85vh;
   }
   #title {
      font-size: 22px;
      line-height: 26px;
      width: 100%;
   }
}

/* services */
#services {
   margin-top: 150vh;
   padding-top: 5%;
   background-color: #fffcff;
   width: 100vw;
}
@media screen and (min-width: 1566px) {
   #services {
      margin-top: 125vh;
   }
}
.services {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-top: 5%;
}
.services .item {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   width: 49.4%;
   position: relative;
   overflow: hidden;
   background-color: #f2f2f7;
   align-items: center;
   height: 300px;
   border-radius: 30px;
   transition: 0.3s;
   margin-bottom: 1%;
}
.services .item p {
   font-size: 18px;
   font-weight: 400;
   line-height: 24.59px;
   color: #a0a0a0;
}
.services .item:hover {
   background-color: #494947;
}
.services .item:hover #title {
   color: #fffcff;
}
.services .item:hover p {
   color: #fffcff;
}
.services .item:hover img {
   display: flex;
}
.services .item img {
   position: absolute;
   display: none;
   height: 100%;
   top: 0;
   right: 0;
   transition: 0.3s;
   opacity: 0.1;
}
@media screen and (max-width: 768px) {
   #services {
      margin-top: 160vh;
      padding-top: 5%;
      background-color: #fffcff;
      width: 100vw;
      padding-bottom: 5vh;
   }
   .services {
      flex-wrap: nowrap;
      margin-top: 5vh;
      overflow: auto;
      gap: 5%;
      scrollbar-width: none;
   }
   .services .item {
      width: 100%;
      height: 240px;
      margin-bottom: 3%;
      flex-shrink: 0;
   }
   .services .item p {
      font-size: 14px;
      line-height: 16.25px;
   }
   .pagination {
      display: flex;
      justify-content: center;
      margin-top: 5%;
      gap: 10px;
   }
   .pagination-dot {
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: transparent;
      border: 1px solid #494947;
      transition: background-color 0.3s ease;
      cursor: pointer;
   }
   .pagination-dot.active {
      background-color: #494947;
   }
}

/* features */
#features {
   background-color: #494947;
   padding-top: 5%;
   padding-bottom: 2%;
   margin-top: 5%;
   position: relative;
   overflow: hidden;
}
.features {
   margin-top: 5%;
   display: flex;
   flex-direction: column;
}
.features .item {
   display: flex;
   flex-direction: row;
   margin-bottom: 2%;
}
.features .item #grey {
   color: #a0a0a0;
   font-size: 16px;
   margin-right: 15px;
   width: auto;
}
.features .item p {
   font-size: 24px;
   font-weight: 400;
   line-height: 32.78px;
   margin: 0;
   width: 37%;
   left: 0;
   color: #fffcff;
}
.features img {
   position: absolute;
   bottom: -5%;
   height: 100%;
   right: 0;
   width: 34%;
}

@media screen and (max-width: 768px) {
   #features {
      padding-top: 10%;
      padding-bottom: 30%;
      margin-top: 7%;
   }
   .features {
      margin-top: 15%;
   }
   .features .item {
      margin-bottom: 5%;
   }
   .features .item #grey {
      font-size: 10px;
      margin-right: 30px;
   }
   .features .item p {
      font-size: 16px;
      line-height: 21.86px;
      width: 100%;
   }
   .features img {
      position: absolute;
      bottom: -40%;
      height: 100%;
      right: -25%;
      width: 100%;
      opacity: 0.5;
   }
}

/* results */
#results {
   background-color: #fff;
   padding: 5% 0;
}
#results #title {
   width: 50%;
   border-right: 1px solid #49494715;
}
#results .container {
   border-top: 1px solid #49494730;
   padding-top: 3%;
}
.results {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.results .left {
   width: 50%;
}
.results .right {
   width: 50%;
}
.results #initial {
   margin-top: 15%;
   font-size: 20px;
   font-weight: 400;
   line-height: 27.32px;
   color: #494947;
   border-bottom: 1px solid #49494730;
   padding-bottom: 10%;
}
#results .item {
   background-color: #fffcff;
   padding: 16% 10% 4%;
   text-align: left;
   border-bottom: 1px solid #49494730;
}
#results #left {
   border-right: 1px solid #49494715;
   padding-left: 0;
}
#results #right {
   border-left: 1px solid #49494715;
}
.result-value {
   font-size: 180px;
   font-weight: 400;
   color: #494947;
   margin: 0 0 10px;
}
.result-description {
   font-size: 20px;
   color: #494947;
   margin: 0 0 2%;
}

@media (max-width: 768px) {
   #results {
      padding: 10% 0;
   }
   #results #title {
      width: 50%;
      border-right: none;
   }
   #results .container {
      padding-top: 6%;
   }
   .results {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
   }
   .results .left {
      width: 100%;
      position: absolute;
      right: 0;
   }
   .results .right {
      width: 100%;
      position: absolute;
      top: 25%;
   }
   .results #initial {
      margin-top: 15%;
      font-size: 14px;
      line-height: 19.12px;
      padding-left: 0;
   }
   #results .item {
      background-color: transparent;
      padding: 16% 0% 4%;
      text-align: left;
      border-bottom: 1px solid #49494730;
   }
   #results #left {
      border-right: 1px solid #49494715;
      padding-left: 40%;
      padding-top: 55%;
      text-align: right;
   }
   #results #right {
      border-left: 1px solid #49494715;
      padding-right: 45%;
      padding-top: 50%;
   }
   .result-value {
      font-size: 100px;
      margin: 0 0 10px;
   }
   .result-description {
      font-size: 16px;
      margin: 0 0 2%;
   }
}

/* Logos */
#logos {
   padding-top: 5%;
   position: relative; /* Ensure the container remains fixed */
   width: 100%; /* Ensure it takes up full width */
   overflow: hidden; /* Hide any overflowed content */
   background-color: #fffcff;
   border-radius: 0 0 30px 30px;
   z-index: 3;
}
.logos {
   margin-top: 3%;
   display: flex;
   flex-direction: row;
   align-items: center;
   padding-bottom: 15px;
   gap: 10%;
   animation: scrollLogos 20s linear infinite; /* Infinite scroll animation */
}
.logos .item {
   background-color: transparent;
   width: 200px;
   height: 130px;
   flex-shrink: 0;
   justify-content: center;
   text-align: center;
   align-items: center;
   display: flex;
   transition: transform 0.3s ease; /* Ensure smooth transform */
}

/* Animation for infinite scrolling */
@keyframes scrollLogos {
   0% {
      transform: translateX(0); /* Start from the left */
   }
   100% {
      transform: translateX(-100%); /* Move to the left and reset */
   }
}
@media screen and (max-width: 768px) {
   #logos {
      margin-top: 140vh;
   }
}

/* footer */
#footer {
   background-color: #494947;
   margin-top: -2%;
   z-index: 1;
   padding-top: 8%;
   padding-bottom: 3%;
}
.footer {
   display: flex;
   flex-direction: column;
}
.footer img {
   width: 100px;
}
.footer .main {
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: space-between;
   border-bottom: 1px solid #a0a0a0;
   padding-bottom: 3%;
}
.footer .main .adress p {
   font-size: 18px;
   font-weight: 400;
   line-height: 24.59px;
   color: #fffcff;
   margin: 0;
}
.footer .main #adress {
   width: 30%;
}
.footer p {
   color: #fffcff;
   margin-top: 2.25%;
}

@media screen and (max-width: 768px) {
   #footer {
      margin-top: -8%;
      padding-top: 20%;
   }
   .footer img {
      width: 54px;
   }
   .footer .main {
      flex-direction: column;
      height: 18vh;
      justify-content: space-between;
   }
   .footer .main .adress p {
      font-size: 12px;
      line-height: 16.39px;
   }
   .footer p {
      margin-top: 5%;
      font-size: 12px;
      line-height: 16.39px;
   }
}

/* history */
.title {
   display: flex;
   flex-direction: row;
   align-items: center;
   border-bottom: 1px solid #49494730;
   padding-bottom: 2.5%;
}
.title .dot {
   width: 10px;
   height: 10px;
   background-color: #a0a0a0;
   border-radius: 50%;
   margin-right: 1%;
}
#history {
   background-color: #fffcff;
   padding: 5% 0;
   margin-top: 80vh;
   border-radius: 30px 30px 0 0;
   z-index: 1005;
   position: absolute;
   width: 100vw;
}
.history {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-top: 2%;
   padding: 2% 0;
}
.history p {
   width: 70%;
   font-size: 24px;
   line-height: 32.78px;
   color: #494947;
   font-weight: 400;
   text-indent: 1em;
   border-right: 1px solid #49494730;
   padding-right: 5%;
}
.history #number {
   width: 25%;
   font-size: 60px;
   color: #a0a0a0;
   font-weight: 400;
   line-height: 81.69px;
   padding-left: 5%;
}

/* sight */
#sight {
   padding: 5% 0;
   width: 100vw;
   margin-top: 165vh;
}
@media screen and (min-width: 1566px) {
   #sight {
      margin-top: 140vh;
   }
}

/* mission */
#mission {
   padding: 3% 0;
   width: 100vw;
}
