html {
   scroll-behavior: smooth;
}
body {
   font-family: "Manrope", sans-serif;
   max-width: 100vw;
   overflow-x: hidden;
}
.container {
   width: 90%;
   margin: 0 auto;
   max-width: 1566px;
}

/* menu */
#menu {
   background-color: transparent;
   padding: 2% 0;
   position: relative;
   z-index: 1000;
}
.menu {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.logo img {
   width: 93px;
}
.menu-toggle {
   background-color: transparent;
   border: none;
   color: #fffcff;
   font-size: 18px;
   font-weight: 400;
   cursor: pointer;
   display: flex;
   align-items: center;
   gap: 10px;
   padding: 0;
   font-family: "Manrope", sans-serif;
}
.menu-toggle img {
   width: 16px;
   aspect-ratio: 1;
}
.nav {
   position: absolute;
   top: 0;
   right: 0;
   background-color: #494947;
   display: flex;
   flex-direction: column;
   transform: translateY(-100%);
   transition: transform 0.3s ease, opacity 0.3s ease;
   opacity: 0;
   pointer-events: none;
   width: 100vw;
}
.nav.open {
   transform: translateY(0);
   opacity: 1;
   pointer-events: auto;
   display: flex;
   justify-content: center;
   border-radius: 0 0 30px 30px;
}
.nav.closed {
   transform: translateY(-100%);
   opacity: 0;
   pointer-events: none;
}
.navigation a {
   color: #fffcff;
   text-decoration: none;
   font-size: 18px;
   font-weight: 400;
   line-height: 24.59px;
   transition: color 0.3s;
}
nav .container {
   position: relative;
}
.navigation a:hover {
   color: #f4a261;
}
.nav .logo {
   top: 0;
   margin: auto;
   display: flex;
   padding: 3% 0;
   border-bottom: 1px solid #a0a0a04d;
   width: 100%;
   text-align: center;
   cursor: pointer;
}
.nav .logo img {
   display: flex;
   margin: auto;
}
.nav .menu-toggle {
   right: 5%;
   top: 22%;
   width: fit-content;
   display: flex;
   margin-left: auto;
   position: absolute;
}
.nav .navigation {
   width: 31%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin: 4% auto 3.25%;
}
.nav .contacts,
p {
   display: none;
}
@media screen and (max-width: 768px) {
   .menu {
      padding: 7% 0;
   }
   .menu .nav {
      height: 100vh;
   }
   .nav .logo {
      position: absolute;
      top: 2%;
      margin-right: auto;
      width: fit-content;
      border: none;
   }
   .menu .logo img {
      width: 60px;
   }
   .menu .menu-toggle {
      gap: 7px;
      font-size: 16px;
      right: 2%;
      top: 24%;
   }
   .menu .nav .menu-toggle {
      position: absolute;
      margin-left: auto;
      top: 4%;
      margin-right: 3%;
   }
   .menu .menu-toggle img {
      width: 14px;
   }
   .nav.open {
      justify-content: flex-start;
      border-radius: 0;
   }
   .nav .navigation {
      display: flex;
      flex-direction: column;
      height: 80%;
      justify-content: space-between;
      margin: 30% 0 0;
   }
   .nav .navigation a {
      font-size: 18px;
   }
   .nav .contacts {
      display: flex;
      position: absolute;
      bottom: 15%;
      flex-direction: column;
   }
   .nav .contacts a {
      text-decoration: none;
      color: #fffcff;
      font-size: 18px;
      line-height: 30px;
   }
   .nav p {
      position: absolute;
      bottom: 5%;
      color: #fffcff;
      font-size: 16px;
      display: flex;
   }
}

/* video */
#video{
  width: 100%;
  height: 100%;
}
.video{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.video img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
#video .filter{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00000030;
  z-index: 3;
  top: 0;
}
.video h1{
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  color: #fffcff;
  z-index: 2;
  position: absolute;
  width: 55%;
  bottom: 8%;
  left: 5%;
}
@media screen and (max-width: 768px) {
  .video h1{
    font-size: 22px;
    line-height: 30px;
    width: 90%;
    margin: auto;
  }
}